<a href="https://colab.research.google.com/github/fishitmo/Takeobds/blob/main/Takeo_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Define a function that accepts a variable number of arguments
def add_numbers(*args):
  result =0
  # print(args)
  for num in args:
    result+=num
  return result

In [ ]:
# Use the function with different numbers of arguments
print(add_numbers(1,2,3))

6

In [ ]:
print(add_numbers(5,10,15,20))

50

In [ ]:
print(add_numbers(2,4,6,8,10))

30

In [ ]:
# problem 1: write a python program using function and *args; it can perform all tasks of arthemetic operation in python (addition, subtraction, division, multiplication, floor division, modulus, exponential)

def all_operations(*a):
  resu_a = 0
  resu_s =0
  resu_m =a[0]
  resu_d =a[0]
  resu_fd=a[0]
  resu_mo=a[0]
  resu_exp= a[0]
  for num in a:
    resu_a+=num
    resu_s-=num
    resu_m*=num
    resu_d/=num
    resu_fd//=num
    resu_mo%=num
    resu_exp**=num

  return resu_a, resu_s, resu_m, resu_d, resu_fd, resu_mo, resu_exp

In [ ]:
print(all_operations(2,4,6,8,10))

(30, -30, 7680, 0.0005208333333333333, 0, 0, 9019518416950528558373478086511232658951474842525520401496114928154304263954966638953020103274038169821978036310387105187439981983038679543190552246151273693942430142430214083685203206060500793611640634047888641084801170845605063334103743639179436252101154643375533557849579891726251950146428978850105516362034204960607121369958942503226437204196452448471269253300696978879636095437453409277681885696982308658433120767281076066105051771156066244607221345945266065486445664418226651139092674586681359212098059833861221228710626721320869724746184863955622162546234638825771342548855451709230916475881564603234959416156932444801211659142200921408360597108039135985669806212057156206663539212378905677937882406546561037396635425165843343857133953586158290319569289376437788637610819165094090272546217161805776234786903154610120291328498719159205664801129636695538349715728280593823253491223728898318034697583114552626234434370877814140762055366083260852745620423716424511260012738181745813374647152733067517775871845874530787928515094116349419316639753203075339289947427722432809910728602878067223827332337510877965115796034585470544985654584014864170694475776)

In [ ]:
# example

def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}:{value}')

print_details(name='Alice', age=30, city= "New York")

name:Alice
age:30
city:New York

In [ ]:
print_details(product="Laptop",brand="Dell", price=1200)

product:Laptop
brand:Dell
price:1200

In [ ]:
# Write a Python Program using Function and **kwargs

def total_price(**fish):
  tot=0
  for item , price in fish.items():
    tot+=price
  return tot


price_in_total = total_price(Onion= 1.25, Orange = 2.25 , Mango = 3.25, Popato = 1.05)

print(f'Total Calculated Price: ${price_in_total}')

Total Calculated Price: $7.8

In [ ]:
# Calculate the absolute valu of a number

num = -5

abs_num = abs(num)
print(f'The absolute valu of {num} is {abs_num}')

The absolute valu of -5 is 5

In [ ]:
# Check if all elements in the List are True

my_list = [True, True, False , True]

result = all(my_list)
print(f'All elements in the list are true: {result}')

All elements in the list are true: False

In [ ]:
# Check if any element in the list are True

my_list = [False, False , True, False]

result = any(my_list)
print(f'At least one element in the list is True: {result}')

At least one element in the list is True: True

In [ ]:
# Convert a number to binary

num = 10

binary_num = bin(num)
print(f'Binary representation of {num} is {binary_num}')

Binary representation of 10 is 0b1010

In [ ]:
# Convert a string in to an integer

str_num = '45'

int_num = int(str_num)
print(f'Integer representation of {str_num} is {int_num}')

Integer representation of 45 is 45

In [ ]:
# Convert to Boolean

value =0
boolean_value = bool(value)
print(f'Boolean Vlaue of {value} is {boolean_value}')

Boolean Vlaue of 0 is False

In [ ]:
# create a complex number
real_part = 3
imaginary_part = 4
complex_number = complex(real_part, imaginary_part)
print(f'complex number: {complex_number}')

complex number: (3+4j)

In [ ]:
# create a dictionary

my_dict = dict(key1= 'value1', key2= 'value2')
print(f'Dictionary: {my_dict}')

Dictionary: {'key1': 'value1', 'key2': 'value2'}

In [ ]:
# enumerated List

my_list = ['apple', 'banana', 'cherry']
enum_obj = enumerate(my_list)
enum_list = list(enum_obj)
print(f'Enumerated List: {enum_list}')
print(f'Enumerated object: {enum_obj}')

Enumerated List: [(0, 'apple'), (1, 'banana'), (2, 'cherry')]
Enumerated object: <enumerate object at 0x7d0a3022d6c0>

In [ ]:
# Evluate an Expresssion
expression = '2+3*5'
result= eval(expression)
print(f'Evaluation of "{expression}" is {result}')

Evaluation of "2+3*5" is 17

In [ ]:
# Filter out Even numbers from the list
number = [1,2,3,4,5,6,7,8,9,10]
filtered_numbers = list(filter(lambda x: x%2 !=0, number))
print(filtered_numbers)

[1, 3, 5, 7, 9]

In [ ]:
# convert a string to a float

num_str = '3.14159'

In [7]:
# define the list

my_list = [1,2,3,4,5,6,7,8,9]

# create an iteration object from the list
my_iter = iter(my_list)

# iterate over the list using next()

# print(next(my_iter))    # output : 1
# print(next(my_iter))    # output : 2
# print(next(my_iter))
# print(next(my_iter))
# print(next(my_iter))
# print(next(my_iter))
# print(next(my_iter))
# print(next(my_iter))
# print(next(my_iter))
for i in my_iter:
  print(i)

1
2
3
4
5
6
7
8
9

```
if condition1:
    # Execute if condition1 is true
    if condition2:
        # Execute if both condition1 and condition2 are true
    else:
        # Execute if condition1 is true but condition2 is false
else:
    # Execute if condition1 is false

# Example 1 : Number checker
num = 5

if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

```

In [ ]:
if num>0:
  print("The number is postive")
else:
  if num<0:
    print("The number is negative")
  else:
    print("The number is zero.")


 # Example 2: Age classifier

 age =35

if age >=60:
  print("You are a senior citizen")
else:
  if age >=18:
    print()

IndentationError: ignored