<a href="https://colab.research.google.com/github/fishitmo/Takeobds/blob/main/TAkeo_pytthon_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 20
b= 45
c= 5

if a < b:
  print("a<b")
elif b<c:
  print("b<c")
elif a<c:
  print("a<c")
else:
  print('we are in else part')

a<b

In [ ]:
a= 90

if a< 100:
  print('a<100')
  if a < 85:
    print('a,85')
    if a < 70:
      print('a<70')
      if a<55:
        print('a<55')
      else:
        print('else a>55')
    else:
       print('else a>70')
  else:
    print("else a >85")
else:
  print("else a>100")

a<100
else a >85

In [ ]:
a=0
for i in range(1,101,1):
  a += i
print(a)

5050

In [ ]:
a =0
i = 1
while i <= 100:

     a +=i
     i += 1
print(a)

5050

# Built in Functions of Python List Data Type

In [ ]:
lst1 = ["Apple", 'Banana', 'Cherrys', 'Orange', 'Pynaple','Honey-Fruit']

In [ ]:
print(lst1, type(lst1))

['Apple', 'Banana', 'Cherrys', 'Orange', 'Pynaple', 'Honey-Fruit'] <class 'list'>

In [ ]:
print(lst1)
lst1.append('Mango')
print(lst1)

['Apple', 'Banana', 'Cherrys', 'Orange', 'Pynaple', 'Honey-Fruit']
['Apple', 'Banana', 'Cherrys', 'Orange', 'Pynaple', 'Honey-Fruit', 'Mango']

In [ ]:
print(lst1)
lst1.clear()
print(lst1)

['Apple', 'Banana', 'Cherrys', 'Orange', 'Pynaple', 'Honey-Fruit', 'Mango']
[]

In [ ]:
print(lst1)

[]

In [ ]:
lst1= ["Mendefera", "Dekemhare", "Asmara","Teseney","Massawa","Assab","Keren","Barentu","Adi-Keihe","Adi-Kuala"]

In [ ]:
print(lst1)
lst2= lst1.copy()
print(lst1, lst2)

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']
['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala'] ['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']

In [ ]:
print(lst1)
lst1.count("Asmara")

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']

1

In [ ]:
print(lst1)
lst1.extend(['Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa'])
print(lst1)

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']
['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa']

In [ ]:
print(lst1)
lst1.index('Asmara')

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa']

2

In [ ]:
lst1.index('Massawa',2,7 )

4

In [ ]:
print(lst1)
lst1.insert(2,'Debarwa')
print(lst1)

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa']
['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa']

In [ ]:
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)
lst1.pop()
print(lst1)

['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo', 'Nakfa']
['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered', 'Tieo']
['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet', 'Eilabered']
['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda', 'Akurdet']
['Mendefera', 'Dekemhare', 'Debarwa', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala', 'Ghinda']

In [ ]:
lst1= ["Mendefera", "Dekemhare", "Asmara","Teseney","Massawa","Assab","Keren","Barentu","Adi-Keihe","Adi-Kuala"]

In [ ]:
print(lst1)
lst1.pop(1)
print(lst1)

['Mendefera', 'Dekemhare', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']
['Mendefera', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']

In [ ]:
print(lst1)
lst1.remove('Massawa')
print(lst1)

['Mendefera', 'Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']
['Mendefera', 'Asmara', 'Teseney', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']

In [ ]:
print(lst1)
lst1.reverse()
print(lst1)

['Mendefera', 'Asmara', 'Teseney', 'Assab', 'Keren', 'Barentu', 'Adi-Keihe', 'Adi-Kuala']
['Adi-Kuala', 'Adi-Keihe', 'Barentu', 'Keren', 'Assab', 'Teseney', 'Asmara', 'Mendefera']

In [ ]:
lst1= ["Mendefera", "Dekemhare", "Asmara","Teseney","Massawa","Assab","Keren","Barentu","Adi-Keihe","Adi-Kuala"]

In [ ]:
lst1[0], lst1[1], lst1[2]

('Mendefera', 'Dekemhare', 'Asmara')

In [ ]:
lst1[0:3:1]

['Mendefera', 'Dekemhare', 'Asmara']

In [ ]:
lst1[2:7:1]

['Asmara', 'Teseney', 'Massawa', 'Assab', 'Keren']

In [ ]:
lst1[1::1]

['Dekemhare',
 'Asmara',
 'Teseney',
 'Massawa',
 'Assab',
 'Keren',
 'Barentu',
 'Adi-Keihe',
 'Adi-Kuala']

In [ ]:
lst1[::]

['Mendefera',
 'Dekemhare',
 'Asmara',
 'Teseney',
 'Massawa',
 'Assab',
 'Keren',
 'Barentu',
 'Adi-Keihe',
 'Adi-Kuala']

In [ ]:
lst1[0:len(lst1):1]

['Mendefera',
 'Dekemhare',
 'Asmara',
 'Teseney',
 'Massawa',
 'Assab',
 'Keren',
 'Barentu',
 'Adi-Keihe',
 'Adi-Kuala']

In [ ]:
print(len(lst1))

10

In [ ]:
lst1[0:len(lst1):2]

['Mendefera', 'Asmara', 'Massawa', 'Keren', 'Adi-Keihe']

In [ ]:
lst1[::]

['Mendefera',
 'Dekemhare',
 'Asmara',
 'Teseney',
 'Massawa',
 'Assab',
 'Keren',
 'Barentu',
 'Adi-Keihe',
 'Adi-Kuala']

In [ ]:
lst1[::-1]

['Adi-Kuala',
 'Adi-Keihe',
 'Barentu',
 'Keren',
 'Assab',
 'Massawa',
 'Teseney',
 'Asmara',
 'Dekemhare',
 'Mendefera']

In [ ]:
lst1

['Mendefera',
 'Dekemhare',
 'Asmara',
 'Teseney',
 'Massawa',
 'Assab',
 'Keren',
 'Barentu',
 'Adi-Keihe',
 'Adi-Kuala']

 **Wednesday December 06, 2023**

In [ ]:
lst1 = [12,23,34,43,53,67,73,82,91]

In [ ]:
lst1[::]

[12, 23, 34, 43, 53, 67, 73, 82, 91]

In [ ]:
lst1[0::]

[12, 23, 34, 43, 53, 67, 73, 82, 91]

In [ ]:
lst1[:len(lst1):]

[12, 23, 34, 43, 53, 67, 73, 82, 91]

In [ ]:
lst1[::1]

[12, 23, 34, 43, 53, 67, 73, 82, 91]

In [ ]:
lst1[:4:]

[12, 23, 34, 43]

In [ ]:
lst1[2:6:]

[34, 43, 53, 67]

*** Right to left negative slicing ***

In [ ]:
lst1

[12, 23, 34, 43, 53, 67, 73, 82, 91]

In [ ]:
lst1[-1:-(len(lst1)+1):-1]

[91, 82, 73, 67, 53, 43, 34, 23, 12]

In [ ]:
lst1[-6::-1]

[43, 34, 23, 12]

In [ ]:
lst1[-4:-8:-1]

[67, 53, 43, 34]

In [ ]:
lst1

[12, 23, 34, 43, 53, 67, 73, 82, 91]


postive indexing and postive slicing


---

negative indexing and postive slicing


---

negative indexing and negative slicing


---

postive indexing and negative slicing

In [ ]:
lst1[3::1] # postive indexing and positive slicing

[43, 53, 67, 73, 82, 91]

In [ ]:
lst1[-6::1] # negative indexing and positive slicing

[43, 53, 67, 73, 82, 91]

In [ ]:
lst1[-1:-7:-1] # negative indexing and negative slicing

[91, 82, 73, 67, 53, 43]

In [ ]:
lst1[:2:-1] # postive indexing and negative slicing

[91, 82, 73, 67, 53, 43]

In [ ]:
# python arthemetic operations

a=10
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)


a=13
b=3

print(a%b)  #Modules
print(a//b)  # Floor division
print(a**b)  # Exponentiation

15
5
50
2.0
1
4
2197

```

Python Assignment Operators

=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
```

In [ ]:
a=10
b=20

a+=b

print(a)

a=10
b=20

a-=b
print(a)

a=10
b=20

a&=b

print(a)

a=10
b=20

a|=b

print(a)



a=10
b=20

30
-10
0
30

#### Friday Dec 08 - 2023

In [ ]:
student_list1 = [99,84,74,63,51,49,33,20,17,5]
for i in student_list1:
  print("percentage Achived",i)
  if i>=85:
    print('... pass with the first class distinction')
  elif i >=60:
    print(".... Pass with the first class")
  elif i>=40:
    print("... Pass with the second class")
  else:
    print('....Better luck next time')

percentage Achived 99
... pass with the first class distinction
percentage Achived 84
.... Pass with the first class
percentage Achived 74
.... Pass with the first class
percentage Achived 63
.... Pass with the first class
percentage Achived 51
... Pass with the second class
percentage Achived 49
... Pass with the second class
percentage Achived 33
....Better luck next time
percentage Achived 20
....Better luck next time
percentage Achived 17
....Better luck next time
percentage Achived 5
....Better luck next time

In [ ]:
student_name = ['Biniam', 'Ermias', 'Fitsum',"Abraham", 'Haile']
student_marks_1 = [93,84,69,53,47]

for i in student_name:
  sub_tot= 0
  for j in student_marks_1:
    sub_tot+=j
  print(i , 'achived', sub_tot, 'marks.')

Biniam achived 346 marks.
Ermias achived 346 marks.
Fitsum achived 346 marks.
Abraham achived 346 marks.
Haile achived 346 marks.

In [ ]:
for i in range(10):
  for j in range(10):
    print('*', end= ' ')
  print('')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
temp1 = 10

while temp1>0:
  #print(temp1)
  temp2 =10
  while temp2 >0:
    print('*', end=' ')
    temp2 -=1
  temp1 -=1
  print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(0,21,1):
  for j in range(0,21,1):

    print('[',i,'-',j,'] ' , end= ' ')
  print()

[ 0 - 0 ]  [ 0 - 1 ]  [ 0 - 2 ]  [ 0 - 3 ]  [ 0 - 4 ]  [ 0 - 5 ]  [ 0 - 6 ]  [ 0 - 7 ]  [ 0 - 8 ]  [ 0 - 9 ]  [ 0 - 10 ]  [ 0 - 11 ]  [ 0 - 12 ]  [ 0 - 13 ]  [ 0 - 14 ]  [ 0 - 15 ]  [ 0 - 16 ]  [ 0 - 17 ]  [ 0 - 18 ]  [ 0 - 19 ]  [ 0 - 20 ]
[ 1 - 0 ]  [ 1 - 1 ]  [ 1 - 2 ]  [ 1 - 3 ]  [ 1 - 4 ]  [ 1 - 5 ]  [ 1 - 6 ]  [ 1 - 7 ]  [ 1 - 8 ]  [ 1 - 9 ]  [ 1 - 10 ]  [ 1 - 11 ]  [ 1 - 12 ]  [ 1 - 13 ]  [ 1 - 14 ]  [ 1 - 15 ]  [ 1 - 16 ]  [ 1 - 17 ]  [ 1 - 18 ]  [ 1 - 19 ]  [ 1 - 20 ]
[ 2 - 0 ]  [ 2 - 1 ]  [ 2 - 2 ]  [ 2 - 3 ]  [ 2 - 4 ]  [ 2 - 5 ]  [ 2 - 6 ]  [ 2 - 7 ]  [ 2 - 8 ]  [ 2 - 9 ]  [ 2 - 10 ]  [ 2 - 11 ]  [ 2 - 12 ]  [ 2 - 13 ]  [ 2 - 14 ]  [ 2 - 15 ]  [ 2 - 16 ]  [ 2 - 17 ]  [ 2 - 18 ]  [ 2 - 19 ]  [ 2 - 20 ]
[ 3 - 0 ]  [ 3 - 1 ]  [ 3 - 2 ]  [ 3 - 3 ]  [ 3 - 4 ]  [ 3 - 5 ]  [ 3 - 6 ]  [ 3 - 7 ]  [ 3 - 8 ]  [ 3 - 9 ]  [ 3 - 10 ]  [ 3 - 11 ]  [ 3 - 12 ]  [ 3 - 13 ]  [ 3 - 14 ]  [ 3 - 15 ]  [ 3 - 16 ]  [ 3 - 17 ]  [ 3 - 18 ]  [ 3 - 19 ]  [ 3 - 20 ]
[ 4 - 0 ]  [ 4 - 1 ]  [ 4 - 2 ]  [ 4 - 3 ]  [ 4 - 4 ]  [ 4 - 5 ]  [ 4 - 6 ]  [ 4 - 7 ]  [ 4 - 8 ]  [ 4 - 9 ]  [ 4 - 10 ]  [ 4 - 11 ]  [ 4 - 12 ]  [ 4 - 13 ]  [ 4 - 14 ]  [ 4 - 15 ]  [ 4 - 16 ]  [ 4 - 17 ]  [ 4 - 18 ]  [ 4 - 19 ]  [ 4 - 20 ]
[ 5 - 0 ]  [ 5 - 1 ]  [ 5 - 2 ]  [ 5 - 3 ]  [ 5 - 4 ]  [ 5 - 5 ]  [ 5 - 6 ]  [ 5 - 7 ]  [ 5 - 8 ]  [ 5 - 9 ]  [ 5 - 10 ]  [ 5 - 11 ]  [ 5 - 12 ]  [ 5 - 13 ]  [ 5 - 14 ]  [ 5 - 15 ]  [ 5 - 16 ]  [ 5 - 17 ]  [ 5 - 18 ]  [ 5 - 19 ]  [ 5 - 20 ]
[ 6 - 0 ]  [ 6 - 1 ]  [ 6 - 2 ]  [ 6 - 3 ]  [ 6 - 4 ]  [ 6 - 5 ]  [ 6 - 6 ]  [ 6 - 7 ]  [ 6 - 8 ]  [ 6 - 9 ]  [ 6 - 10 ]  [ 6 - 11 ]  [ 6 - 12 ]  [ 6 - 13 ]  [ 6 - 14 ]  [ 6 - 15 ]  [ 6 - 16 ]  [ 6 - 17 ]  [ 6 - 18 ]  [ 6 - 19 ]  [ 6 - 20 ]
[ 7 - 0 ]  [ 7 - 1 ]  [ 7 - 2 ]  [ 7 - 3 ]  [ 7 - 4 ]  [ 7 - 5 ]  [ 7 - 6 ]  [ 7 - 7 ]  [ 7 - 8 ]  [ 7 - 9 ]  [ 7 - 10 ]  [ 7 - 11 ]  [ 7 - 12 ]  [ 7 - 13 ]  [ 7 - 14 ]  [ 7 - 15 ]  [ 7 - 16 ]  [ 7 - 17 ]  [ 7 - 18 ]  [ 7 - 19 ]  [ 7 - 20 ]
[ 8 - 0 ]  [ 8 - 1 ]  [ 8 - 2 ]  [ 8 - 3 ]  [ 8 - 4 ]  [ 8 - 5 ]  [ 8 - 6 ]  [ 8 - 7 ]  [ 8 - 8 ]  [ 8 - 9 ]  [ 8 - 10 ]  [ 8 - 11 ]  [ 8 - 12 ]  [ 8 - 13 ]  [ 8 - 14 ]  [ 8 - 15 ]  [ 8 - 16 ]  [ 8 - 17 ]  [ 8 - 18 ]  [ 8 - 19 ]  [ 8 - 20 ]
[ 9 - 0 ]  [ 9 - 1 ]  [ 9 - 2 ]  [ 9 - 3 ]  [ 9 - 4 ]  [ 9 - 5 ]  [ 9 - 6 ]  [ 9 - 7 ]  [ 9 - 8 ]  [ 9 - 9 ]  [ 9 - 10 ]  [ 9 - 11 ]  [ 9 - 12 ]  [ 9 - 13 ]  [ 9 - 14 ]  [ 9 - 15 ]  [ 9 - 16 ]  [ 9 - 17 ]  [ 9 - 18 ]  [ 9 - 19 ]  [ 9 - 20 ]
[ 10 - 0 ]  [ 10 - 1 ]  [ 10 - 2 ]  [ 10 - 3 ]  [ 10 - 4 ]  [ 10 - 5 ]  [ 10 - 6 ]  [ 10 - 7 ]  [ 10 - 8 ]  [ 10 - 9 ]  [ 10 - 10 ]  [ 10 - 11 ]  [ 10 - 12 ]  [ 10 - 13 ]  [ 10 - 14 ]  [ 10 - 15 ]  [ 10 - 16 ]  [ 10 - 17 ]  [ 10 - 18 ]  [ 10 - 19 ]  [ 10 - 20 ]
[ 11 - 0 ]  [ 11 - 1 ]  [ 11 - 2 ]  [ 11 - 3 ]  [ 11 - 4 ]  [ 11 - 5 ]  [ 11 - 6 ]  [ 11 - 7 ]  [ 11 - 8 ]  [ 11 - 9 ]  [ 11 - 10 ]  [ 11 - 11 ]  [ 11 - 12 ]  [ 11 - 13 ]  [ 11 - 14 ]  [ 11 - 15 ]  [ 11 - 16 ]  [ 11 - 17 ]  [ 11 - 18 ]  [ 11 - 19 ]  [ 11 - 20 ]
[ 12 - 0 ]  [ 12 - 1 ]  [ 12 - 2 ]  [ 12 - 3 ]  [ 12 - 4 ]  [ 12 - 5 ]  [ 12 - 6 ]  [ 12 - 7 ]  [ 12 - 8 ]  [ 12 - 9 ]  [ 12 - 10 ]  [ 12 - 11 ]  [ 12 - 12 ]  [ 12 - 13 ]  [ 12 - 14 ]  [ 12 - 15 ]  [ 12 - 16 ]  [ 12 - 17 ]  [ 12 - 18 ]  [ 12 - 19 ]  [ 12 - 20 ]
[ 13 - 0 ]  [ 13 - 1 ]  [ 13 - 2 ]  [ 13 - 3 ]  [ 13 - 4 ]  [ 13 - 5 ]  [ 13 - 6 ]  [ 13 - 7 ]  [ 13 - 8 ]  [ 13 - 9 ]  [ 13 - 10 ]  [ 13 - 11 ]  [ 13 - 12 ]  [ 13 - 13 ]  [ 13 - 14 ]  [ 13 - 15 ]  [ 13 - 16 ]  [ 13 - 17 ]  [ 13 - 18 ]  [ 13 - 19 ]  [ 13 - 20 ]
[ 14 - 0 ]  [ 14 - 1 ]  [ 14 - 2 ]  [ 14 - 3 ]  [ 14 - 4 ]  [ 14 - 5 ]  [ 14 - 6 ]  [ 14 - 7 ]  [ 14 - 8 ]  [ 14 - 9 ]  [ 14 - 10 ]  [ 14 - 11 ]  [ 14 - 12 ]  [ 14 - 13 ]  [ 14 - 14 ]  [ 14 - 15 ]  [ 14 - 16 ]  [ 14 - 17 ]  [ 14 - 18 ]  [ 14 - 19 ]  [ 14 - 20 ]
[ 15 - 0 ]  [ 15 - 1 ]  [ 15 - 2 ]  [ 15 - 3 ]  [ 15 - 4 ]  [ 15 - 5 ]  [ 15 - 6 ]  [ 15 - 7 ]  [ 15 - 8 ]  [ 15 - 9 ]  [ 15 - 10 ]  [ 15 - 11 ]  [ 15 - 12 ]  [ 15 - 13 ]  [ 15 - 14 ]  [ 15 - 15 ]  [ 15 - 16 ]  [ 15 - 17 ]  [ 15 - 18 ]  [ 15 - 19 ]  [ 15 - 20 ]
[ 16 - 0 ]  [ 16 - 1 ]  [ 16 - 2 ]  [ 16 - 3 ]  [ 16 - 4 ]  [ 16 - 5 ]  [ 16 - 6 ]  [ 16 - 7 ]  [ 16 - 8 ]  [ 16 - 9 ]  [ 16 - 10 ]  [ 16 - 11 ]  [ 16 - 12 ]  [ 16 - 13 ]  [ 16 - 14 ]  [ 16 - 15 ]  [ 16 - 16 ]  [ 16 - 17 ]  [ 16 - 18 ]  [ 16 - 19 ]  [ 16 - 20 ]
[ 17 - 0 ]  [ 17 - 1 ]  [ 17 - 2 ]  [ 17 - 3 ]  [ 17 - 4 ]  [ 17 - 5 ]  [ 17 - 6 ]  [ 17 - 7 ]  [ 17 - 8 ]  [ 17 - 9 ]  [ 17 - 10 ]  [ 17 - 11 ]  [ 17 - 12 ]  [ 17 - 13 ]  [ 17 - 14 ]  [ 17 - 15 ]  [ 17 - 16 ]  [ 17 - 17 ]  [ 17 - 18 ]  [ 17 - 19 ]  [ 17 - 20 ]
[ 18 - 0 ]  [ 18 - 1 ]  [ 18 - 2 ]  [ 18 - 3 ]  [ 18 - 4 ]  [ 18 - 5 ]  [ 18 - 6 ]  [ 18 - 7 ]  [ 18 - 8 ]  [ 18 - 9 ]  [ 18 - 10 ]  [ 18 - 11 ]  [ 18 - 12 ]  [ 18 - 13 ]  [ 18 - 14 ]  [ 18 - 15 ]  [ 18 - 16 ]  [ 18 - 17 ]  [ 18 - 18 ]  [ 18 - 19 ]  [ 18 - 20 ]
[ 19 - 0 ]  [ 19 - 1 ]  [ 19 - 2 ]  [ 19 - 3 ]  [ 19 - 4 ]  [ 19 - 5 ]  [ 19 - 6 ]  [ 19 - 7 ]  [ 19 - 8 ]  [ 19 - 9 ]  [ 19 - 10 ]  [ 19 - 11 ]  [ 19 - 12 ]  [ 19 - 13 ]  [ 19 - 14 ]  [ 19 - 15 ]  [ 19 - 16 ]  [ 19 - 17 ]  [ 19 - 18 ]  [ 19 - 19 ]  [ 19 - 20 ]
[ 20 - 0 ]  [ 20 - 1 ]  [ 20 - 2 ]  [ 20 - 3 ]  [ 20 - 4 ]  [ 20 - 5 ]  [ 20 - 6 ]  [ 20 - 7 ]  [ 20 - 8 ]  [ 20 - 9 ]  [ 20 - 10 ]  [ 20 - 11 ]  [ 20 - 12 ]  [ 20 - 13 ]  [ 20 - 14 ]  [ 20 - 15 ]  [ 20 - 16 ]  [ 20 - 17 ]  [ 20 - 18 ]  [ 20 - 19 ]  [ 20 - 20 ]

In [ ]:
for i in range(10):
  for j in range(i+1):
    print('*', end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
temp1 = 10

while temp1 >0:
  temp2 =10
  while temp2+1>temp1:
    print('*',end= ' ')
    temp2-=1
  temp1-=1
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range(10-i):
    print('',end= ' ')
  for k in range(i+1):
    print('*', end= ' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
temp1 = 10
while temp1 > 0:

while temp2>0:

while temp3>0:

IndentationError: ignored

In [ ]:
student_name = ["Sham", "Biniam", "Haile", "Kahsay"]

student_mark_1 = [[94, 84, 78, 69, 58], [91,81,72,64,34], [70, 83,79,66,53], [90,80,77,61,53]]

for i in student_name:
  sub_tot = 0
  counter = 0
  for j in student_mark_1:
    for k in j:

       print(k)
       sub_tot +=k

    print(i, "Achieved",sub_tot, 'marks')
  # need a to look letter

94
84
78
69
58
Sham Achieved 383 marks
91
81
72
64
34
Sham Achieved 725 marks
70
83
79
66
53
Sham Achieved 1076 marks
90
80
77
61
53
Sham Achieved 1437 marks
94
84
78
69
58
Biniam Achieved 383 marks
91
81
72
64
34
Biniam Achieved 725 marks
70
83
79
66
53
Biniam Achieved 1076 marks
90
80
77
61
53
Biniam Achieved 1437 marks
94
84
78
69
58
Haile Achieved 383 marks
91
81
72
64
34
Haile Achieved 725 marks
70
83
79
66
53
Haile Achieved 1076 marks
90
80
77
61
53
Haile Achieved 1437 marks
94
84
78
69
58
Kahsay Achieved 383 marks
91
81
72
64
34
Kahsay Achieved 725 marks
70
83
79
66
53
Kahsay Achieved 1076 marks
90
80
77
61
53
Kahsay Achieved 1437 marks

### Monday Dec 11, 2023

```
Python Functions

1. Build in functions
2. User Define Functions
3. Lambda Functions
````

In [ ]:
a = input('please enter your name')
print(a)

please enter your nameFish
Fish

In [ ]:
# Default data type of 'input' function is string

In [ ]:
a = input('Marks in Mathemattics:')
b= input('Marks in Geography')
c = input('Marks in Socila Science')

print(type(a))
print(type(b))
print(type(c))

total = a+b+c

print(total)
print(type(total))

Marks in Mathemattics:97
Marks in Geography99
Marks in Socila Science89
<class 'str'>
<class 'str'>
<class 'str'>
979989
<class 'str'>

In [ ]:
a = int(input('Marks in Mathemattics:'))
b= int(input('Marks in Geography'))
c = int(input('Marks in Socila Science'))

print(type(a))
print(type(b))
print(type(c))

total = a+b+c

print(total)
print(type(total))

Marks in Mathemattics:98
Marks in Geography99
Marks in Socila Science96
<class 'int'>
<class 'int'>
<class 'int'>
293
<class 'int'>

```

Python type casting functions

1. int
2. float
3. complex
4. boolean
5. string
6. list
7. tuple
8. set
9. dictionary

```

In [ ]:
a = float(input('marks in mathematics: '))
b = float(input('marks in science: '))
c = float(input('marks in social science: '))

print(type(a))
print(type(b))
print(type(c))

total = a+ b+ c
print(total)

print(type(total))

marks in mathematics: 45
marks in science: 67
marks in social science: 78.2
<class 'float'>
<class 'float'>
<class 'float'>
190.2
<class 'float'>

In [ ]:
a = complex(input('input 1 : '))
b = complex(input('input 2: '))
c = complex(input('input 3: '))

print(type(a))
print(type(b))
print(type(c))

total = a+ b+ c
print(total)

print(type(total))

input 1 : 99
input 2: 98
input 3: 100
<class 'complex'>
<class 'complex'>
<class 'complex'>
(297+0j)
<class 'complex'>

In [ ]:
var_str1 = 'python programming'

print(list(var_str1))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [ ]:
print(tuple(var_str1))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

In [ ]:
print(set(var_str1))

{'y', 'n', 'r', 'g', 'i', 'p', 'o', 't', 'a', 'm', ' ', 'h'}

In [ ]:
lst1 = [(1,'a'), (2,'b'), (3,'c')]
print(dict(lst1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
lst2 = [['what',3], [2,4], [6,"asdhfg"]]
print(dict(lst2))

{'what': 3, 2: 4, 6: 'asdhfg'}

In [ ]:
for i in range(0,100,1):
  print('Decimal:',i)
  print('Bianry:',bin(i))
  print('Ocat decimal:', oct(i))
  print('Hexa Decimal:', hex(i))

Decimal: 0
Bianry: 0b0
Ocat decimal: 0o0
Hexa Decimal: 0x0
Decimal: 1
Bianry: 0b1
Ocat decimal: 0o1
Hexa Decimal: 0x1
Decimal: 2
Bianry: 0b10
Ocat decimal: 0o2
Hexa Decimal: 0x2
Decimal: 3
Bianry: 0b11
Ocat decimal: 0o3
Hexa Decimal: 0x3
Decimal: 4
Bianry: 0b100
Ocat decimal: 0o4
Hexa Decimal: 0x4
Decimal: 5
Bianry: 0b101
Ocat decimal: 0o5
Hexa Decimal: 0x5
Decimal: 6
Bianry: 0b110
Ocat decimal: 0o6
Hexa Decimal: 0x6
Decimal: 7
Bianry: 0b111
Ocat decimal: 0o7
Hexa Decimal: 0x7
Decimal: 8
Bianry: 0b1000
Ocat decimal: 0o10
Hexa Decimal: 0x8
Decimal: 9
Bianry: 0b1001
Ocat decimal: 0o11
Hexa Decimal: 0x9
Decimal: 10
Bianry: 0b1010
Ocat decimal: 0o12
Hexa Decimal: 0xa
Decimal: 11
Bianry: 0b1011
Ocat decimal: 0o13
Hexa Decimal: 0xb
Decimal: 12
Bianry: 0b1100
Ocat decimal: 0o14
Hexa Decimal: 0xc
Decimal: 13
Bianry: 0b1101
Ocat decimal: 0o15
Hexa Decimal: 0xd
Decimal: 14
Bianry: 0b1110
Ocat decimal: 0o16
Hexa Decimal: 0xe
Decimal: 15
Bianry: 0b1111
Ocat decimal: 0o17
Hexa Decimal: 0xf
Decimal: 16
Bianry: 0b10000
Ocat decimal: 0o20
Hexa Decimal: 0x10
Decimal: 17
Bianry: 0b10001
Ocat decimal: 0o21
Hexa Decimal: 0x11
Decimal: 18
Bianry: 0b10010
Ocat decimal: 0o22
Hexa Decimal: 0x12
Decimal: 19
Bianry: 0b10011
Ocat decimal: 0o23
Hexa Decimal: 0x13
Decimal: 20
Bianry: 0b10100
Ocat decimal: 0o24
Hexa Decimal: 0x14
Decimal: 21
Bianry: 0b10101
Ocat decimal: 0o25
Hexa Decimal: 0x15
Decimal: 22
Bianry: 0b10110
Ocat decimal: 0o26
Hexa Decimal: 0x16
Decimal: 23
Bianry: 0b10111
Ocat decimal: 0o27
Hexa Decimal: 0x17
Decimal: 24
Bianry: 0b11000
Ocat decimal: 0o30
Hexa Decimal: 0x18
Decimal: 25
Bianry: 0b11001
Ocat decimal: 0o31
Hexa Decimal: 0x19
Decimal: 26
Bianry: 0b11010
Ocat decimal: 0o32
Hexa Decimal: 0x1a
Decimal: 27
Bianry: 0b11011
Ocat decimal: 0o33
Hexa Decimal: 0x1b
Decimal: 28
Bianry: 0b11100
Ocat decimal: 0o34
Hexa Decimal: 0x1c
Decimal: 29
Bianry: 0b11101
Ocat decimal: 0o35
Hexa Decimal: 0x1d
Decimal: 30
Bianry: 0b11110
Ocat decimal: 0o36
Hexa Decimal: 0x1e
Decimal: 31
Bianry: 0b11111
Ocat decimal: 0o37
Hexa Decimal: 0x1f
Decimal: 32
Bianry: 0b100000
Ocat decimal: 0o40
Hexa Decimal: 0x20
Decimal: 33
Bianry: 0b100001
Ocat decimal: 0o41
Hexa Decimal: 0x21
Decimal: 34
Bianry: 0b100010
Ocat decimal: 0o42
Hexa Decimal: 0x22
Decimal: 35
Bianry: 0b100011
Ocat decimal: 0o43
Hexa Decimal: 0x23
Decimal: 36
Bianry: 0b100100
Ocat decimal: 0o44
Hexa Decimal: 0x24
Decimal: 37
Bianry: 0b100101
Ocat decimal: 0o45
Hexa Decimal: 0x25
Decimal: 38
Bianry: 0b100110
Ocat decimal: 0o46
Hexa Decimal: 0x26
Decimal: 39
Bianry: 0b100111
Ocat decimal: 0o47
Hexa Decimal: 0x27
Decimal: 40
Bianry: 0b101000
Ocat decimal: 0o50
Hexa Decimal: 0x28
Decimal: 41
Bianry: 0b101001
Ocat decimal: 0o51
Hexa Decimal: 0x29
Decimal: 42
Bianry: 0b101010
Ocat decimal: 0o52
Hexa Decimal: 0x2a
Decimal: 43
Bianry: 0b101011
Ocat decimal: 0o53
Hexa Decimal: 0x2b
Decimal: 44
Bianry: 0b101100
Ocat decimal: 0o54
Hexa Decimal: 0x2c
Decimal: 45
Bianry: 0b101101
Ocat decimal: 0o55
Hexa Decimal: 0x2d
Decimal: 46
Bianry: 0b101110
Ocat decimal: 0o56
Hexa Decimal: 0x2e
Decimal: 47
Bianry: 0b101111
Ocat decimal: 0o57
Hexa Decimal: 0x2f
Decimal: 48
Bianry: 0b110000
Ocat decimal: 0o60
Hexa Decimal: 0x30
Decimal: 49
Bianry: 0b110001
Ocat decimal: 0o61
Hexa Decimal: 0x31
Decimal: 50
Bianry: 0b110010
Ocat decimal: 0o62
Hexa Decimal: 0x32
Decimal: 51
Bianry: 0b110011
Ocat decimal: 0o63
Hexa Decimal: 0x33
Decimal: 52
Bianry: 0b110100
Ocat decimal: 0o64
Hexa Decimal: 0x34
Decimal: 53
Bianry: 0b110101
Ocat decimal: 0o65
Hexa Decimal: 0x35
Decimal: 54
Bianry: 0b110110
Ocat decimal: 0o66
Hexa Decimal: 0x36
Decimal: 55
Bianry: 0b110111
Ocat decimal: 0o67
Hexa Decimal: 0x37
Decimal: 56
Bianry: 0b111000
Ocat decimal: 0o70
Hexa Decimal: 0x38
Decimal: 57
Bianry: 0b111001
Ocat decimal: 0o71
Hexa Decimal: 0x39
Decimal: 58
Bianry: 0b111010
Ocat decimal: 0o72
Hexa Decimal: 0x3a
Decimal: 59
Bianry: 0b111011
Ocat decimal: 0o73
Hexa Decimal: 0x3b
Decimal: 60
Bianry: 0b111100
Ocat decimal: 0o74
Hexa Decimal: 0x3c
Decimal: 61
Bianry: 0b111101
Ocat decimal: 0o75
Hexa Decimal: 0x3d
Decimal: 62
Bianry: 0b111110
Ocat decimal: 0o76
Hexa Decimal: 0x3e
Decimal: 63
Bianry: 0b111111
Ocat decimal: 0o77
Hexa Decimal: 0x3f
Decimal: 64
Bianry: 0b1000000
Ocat decimal: 0o100
Hexa Decimal: 0x40
Decimal: 65
Bianry: 0b1000001
Ocat decimal: 0o101
Hexa Decimal: 0x41
Decimal: 66
Bianry: 0b1000010
Ocat decimal: 0o102
Hexa Decimal: 0x42
Decimal: 67
Bianry: 0b1000011
Ocat decimal: 0o103
Hexa Decimal: 0x43
Decimal: 68
Bianry: 0b1000100
Ocat decimal: 0o104
Hexa Decimal: 0x44
Decimal: 69
Bianry: 0b1000101
Ocat decimal: 0o105
Hexa Decimal: 0x45
Decimal: 70
Bianry: 0b1000110
Ocat decimal: 0o106
Hexa Decimal: 0x46
Decimal: 71
Bianry: 0b1000111
Ocat decimal: 0o107
Hexa Decimal: 0x47
Decimal: 72
Bianry: 0b1001000
Ocat decimal: 0o110
Hexa Decimal: 0x48
Decimal: 73
Bianry: 0b1001001
Ocat decimal: 0o111
Hexa Decimal: 0x49
Decimal: 74
Bianry: 0b1001010
Ocat decimal: 0o112
Hexa Decimal: 0x4a
Decimal: 75
Bianry: 0b1001011
Ocat decimal: 0o113
Hexa Decimal: 0x4b
Decimal: 76
Bianry: 0b1001100
Ocat decimal: 0o114
Hexa Decimal: 0x4c
Decimal: 77
Bianry: 0b1001101
Ocat decimal: 0o115
Hexa Decimal: 0x4d
Decimal: 78
Bianry: 0b1001110
Ocat decimal: 0o116
Hexa Decimal: 0x4e
Decimal: 79
Bianry: 0b1001111
Ocat decimal: 0o117
Hexa Decimal: 0x4f
Decimal: 80
Bianry: 0b1010000
Ocat decimal: 0o120
Hexa Decimal: 0x50
Decimal: 81
Bianry: 0b1010001
Ocat decimal: 0o121
Hexa Decimal: 0x51
Decimal: 82
Bianry: 0b1010010
Ocat decimal: 0o122
Hexa Decimal: 0x52
Decimal: 83
Bianry: 0b1010011
Ocat decimal: 0o123
Hexa Decimal: 0x53
Decimal: 84
Bianry: 0b1010100
Ocat decimal: 0o124
Hexa Decimal: 0x54
Decimal: 85
Bianry: 0b1010101
Ocat decimal: 0o125
Hexa Decimal: 0x55
Decimal: 86
Bianry: 0b1010110
Ocat decimal: 0o126
Hexa Decimal: 0x56
Decimal: 87
Bianry: 0b1010111
Ocat decimal: 0o127
Hexa Decimal: 0x57
Decimal: 88
Bianry: 0b1011000
Ocat decimal: 0o130
Hexa Decimal: 0x58
Decimal: 89
Bianry: 0b1011001
Ocat decimal: 0o131
Hexa Decimal: 0x59
Decimal: 90
Bianry: 0b1011010
Ocat decimal: 0o132
Hexa Decimal: 0x5a
Decimal: 91
Bianry: 0b1011011
Ocat decimal: 0o133
Hexa Decimal: 0x5b
Decimal: 92
Bianry: 0b1011100
Ocat decimal: 0o134
Hexa Decimal: 0x5c
Decimal: 93
Bianry: 0b1011101
Ocat decimal: 0o135
Hexa Decimal: 0x5d
Decimal: 94
Bianry: 0b1011110
Ocat decimal: 0o136
Hexa Decimal: 0x5e
Decimal: 95
Bianry: 0b1011111
Ocat decimal: 0o137
Hexa Decimal: 0x5f
Decimal: 96
Bianry: 0b1100000
Ocat decimal: 0o140
Hexa Decimal: 0x60
Decimal: 97
Bianry: 0b1100001
Ocat decimal: 0o141
Hexa Decimal: 0x61
Decimal: 98
Bianry: 0b1100010
Ocat decimal: 0o142
Hexa Decimal: 0x62
Decimal: 99
Bianry: 0b1100011
Ocat decimal: 0o143
Hexa Decimal: 0x63

In [ ]:
help(bin)

Help on built-in function bin in module builtins:

bin(number, /)
    Return the binary representation of an integer.

    >>> bin(2796202)
    '0b1010101010101010101010'

In [ ]:
help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

In [ ]:
lst1=['apple','banana','cherries','dates','eggfruit','fig','grapes']

x = iter(lst1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
dates
eggfruit
fig
grapes

In [ ]:
tup1=('apple','banana','cherries','dates','eggfruit','fig','grapes')

x = iter(tup1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
dates
eggfruit
fig
grapes

StopIteration: ignored

In [ ]:
set1={'apple','banana','cherries','dates','eggfruit','fig','grapes','banana','cherries','dates','eggfruit','fig'}

x = iter(set1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

grapes
eggfruit
dates
apple
banana
fig
cherries

StopIteration: ignored

In [ ]:
Dic2 = {'Hagas': 200300, "barentu": 500000, 'Mendefera': 250000}

y=iter(Dic2)

print(next(y))
print(next(y))

Hagas
barentu

In [ ]:
str1 = 'Python Programming'
len(str1)

18

In [ ]:
lst1 = ['happle','banana','cherries','dates','eggfruit','fig','grapes']
len(lst1)

7

In [ ]:
min(lst1)

'banana'

In [ ]:
max(lst1)

'happle'

In [ ]:
flt1 = 4.567989
print(round(flt1,4))

4.568

In [ ]:
lst1 = [1,1.307,1.2,1.09,1.5,1.11,1.306,1.305,1.6,1.1]
#sorted(lst1)
lst1.sort()
lst1

[1, 1.09, 1.1, 1.11, 1.2, 1.305, 1.306, 1.307, 1.5, 1.6]

In [ ]:
lst1 = ["Biinaiam", 'Berhe', "Hagas" , "Barentu", "Assab"]

lst1.sort()
lst1

['Assab', 'Barentu', 'Berhe', 'Biinaiam', 'Hagas']

## Tuesday Dec 12, 2023

```
python user define function

```

In [ ]:
def welcom_world():
  print('Welcome to the BootCamp 2023')

In [ ]:
welcom_world()

Welcome to the BootCamp 2023

In [ ]:
def add_3(a,b,c):
  return(a+b+c)

In [ ]:
add_3(3,4,5)

12

In [ ]:
add_3(True,False,False)

1

In [ ]:
def operation(a,b,c):
  print("Addition: ", a+b+c)
  print("Subtraction: ", a-b-c)
  print("Multiplication: ", a*b*c)
  print("Divison: ", a/b/c)

In [ ]:
operation(12.4,34.6,11)

Addition:  58.0
Subtraction:  -33.2
Multiplication:  4719.4400000000005
Divison:  0.0325801366263794

In [ ]:
def create_email(a,b):
    print(a,'.',b,'@junkmail.com')

In [ ]:
create_email('biniam','mehari')

biniam . mehari @junkmail.com

In [ ]:
def odd_even(a):
    if a%2==0:
        print(f'This number {a} is even')
    else:
        print(f'This number {a} is odd')

In [ ]:
odd_even(3)

This number 3 is odd

In [ ]:
odd_even(12)

This number 12 is even

In [ ]:
odd_even(0)

This number 0 is even

In [ ]:
odd_even(1)

This number 1 is odd

In [ ]:
 dict1 = {'Aam': 56, 'Bam': 67, 'Cam': 78, 'Dam': 89, 'Eam': 90, 'Fam': 91, 'Gam': 34, 'Ham': 32, 'Iam': 33, 'Jam': 54, 'Kam': 57}

In [ ]:
dict1

{'Aam': 56,
 'Bam': 67,
 'Cam': 78,
 'Dam': 89,
 'Eam': 90,
 'Fam': 91,
 'Gam': 34,
 'Ham': 32,
 'Iam': 33,
 'Jam': 54,
 'Kam': 57}

In [ ]:
def eval_1(p):
  for key , val in p.items():
    if val>=85:
      print(f'{key} is a first class distinction student')
    elif val>=60:
      print(f'{key} is a first calss student')
    elif val>=40:
      print(f'{key} is a second class student')
    elif val>=35:
      print(f'{key} is a third class student')
    else:
      print(f'Better Luck next time {key}')

In [ ]:
eval_1(dict1)

Aam is a second class student
Bam is a first calss student
Cam is a first calss student
Dam is a first class distinction student
Eam is a first class distinction student
Fam is a first class distinction student
Better Luck next time Gam
Better Luck next time Ham
Better Luck next time Iam
Jam is a second class student
Kam is a second class student

In [ ]:
def any_argument(*args):
    return args

In [ ]:
any_argument(12,13,45,56,78)

(12, 13, 45, 56, 78)

In [ ]:
any_argument()

()

In [ ]:
any_argument(12,'Fish',"Bianiam")

(12, 'Fish', 'Bianiam')

In [ ]:
def any_kwargument(**kwargs):
    return kwargs

In [ ]:
any_kwargument(name ='Anurag')

{'name': 'Anurag'}

In [ ]:
any_kwargument(name= 'Biniam', mname='Oqbay')

{'name': 'Biniam', 'mname': 'Oqbay'}

### Wednesday December 13

```
*args

In Python, *args is used to pass a variable number of positional arguments to a function. The *args parameter allows a function to accept any number of positional arguments, which are then treated as a tuple within the function.

Here's a basic example:

def my_function(*args):
    for arg in args:
        print(arg)

my_function('Hello', 'World', 'Python')
In this example, *args collects all the positional arguments passed to my_function into a tuple named args. The function then iterates through this tuple and prints each argument.

You can use any name instead of args, but the * before the parameter name is what allows it to accept multiple positional arguments.

It's important to note that *args must be placed as the last positional parameter in the function definition. This is because it collects all remaining positional arguments.

Here's an example where *args is used along with other regular parameters:

def my_function(name, *args):
    print("Name:", name)
    for arg in args:
        print("Additional argument:", arg)

my_function('Alice', 'Hello', 'World', 'Python')
In this case, the first argument (name) is assigned to the parameter name, and the rest of the arguments are collected into the args tuple.

Using *args provides flexibility when you're unsure about the number of arguments that will be passed to a function, allowing you to handle a variable number of arguments without explicitly defining them in the function signature.
```

In [ ]:
def my_args1(*fish):
    return fish

In [ ]:
my_args1(12,13,14,18.5, 12-13j,True, False,'What is your name', [12,13,'MOM','Hiwet',13.5],('hi',56.9,'Asmara'),{1,2,4,"What"},{'Asmara':12000000, "Dekemhar": 4500000})

(12,
 13,
 14,
 18.5,
 (12-13j),
 True,
 False,
 'What is your name',
 [12, 13, 'MOM', 'Hiwet', 13.5],
 ('hi', 56.9, 'Asmara'),
 {1, 2, 4, 'What'},
 {'Asmara': 12000000, 'Dekemhar': 4500000})

```
In Python, **kwargs allows you to pass a variable number of keyword arguments to a function. The **kwargs parameter collects these keyword arguments into a dictionary within the function.

Here's an example:


def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name='Alice', age=30, country='Wonderland')
In this example, **kwargs collects the keyword arguments passed to my_function into a dictionary named kwargs. Inside the function, you can iterate through this dictionary to access the keys and their corresponding values.

Similarly to *args, you can use any name instead of kwargs, but the ** before the parameter name is what allows it to accept multiple keyword arguments.

You can mix *args and **kwargs in a function definition. In such cases, *args collects positional arguments into a tuple, while **kwargs collects keyword arguments into a dictionary.


def example_function(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    
    print("\nKeyword arguments:")
    for key, value in kwargs.items():
        print(f"{key}: {value}")

example_function('Hello', 'World', name='Alice', age=30)
In this case, the positional arguments ('Hello', 'World') are collected into args as a tuple, and the keyword arguments (name='Alice', age=30) are collected into kwargs as a dictionary.

Using **kwargs is helpful when you need to handle a variable number of keyword arguments in a function, providing flexibility and allowing functions to receive and process different sets of named parameters.

```

In [ ]:
def my_kwargs(**fish):
    return fish

In [ ]:
my_kwargs(a= 12,
b= -23,
c= 34.45,
d= -45.56,
e= (12+23j),
f= (-32-43j),
g= True,
h= False,
i= 'Python',
j= 'programming',
k= [1, 2, 3, 4, 5],
l= (12, 23, 34, 45, 56),
m= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
n= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'},
a1= 12,
b1= -23,
c1= 34.45,
d1= -45.56,
e1= (12+23j),
f1= (-32-43j),
g1= True,
h1= False,
i1= 'Python',
j1= 'programming',
k1= [1, 2, 3, 4, 5],
l1= (12, 23, 34, 45, 56),
m1= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
n1= {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'})

{'a': 12,
 'b': -23,
 'c': 34.45,
 'd': -45.56,
 'e': (12+23j),
 'f': (-32-43j),
 'g': True,
 'h': False,
 'i': 'Python',
 'j': 'programming',
 'k': [1, 2, 3, 4, 5],
 'l': (12, 23, 34, 45, 56),
 'm': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'n': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'},
 'a1': 12,
 'b1': -23,
 'c1': 34.45,
 'd1': -45.56,
 'e1': (12+23j),
 'f1': (-32-43j),
 'g1': True,
 'h1': False,
 'i1': 'Python',
 'j1': 'programming',
 'k1': [1, 2, 3, 4, 5],
 'l1': (12, 23, 34, 45, 56),
 'm1': {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11},
 'n1': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}}

In [ ]:
my_kwargs(name='fish', haregu = 13)

{'name': 'fish', 'haregu': 13}

In [ ]:

def my_all_param(a,*y,**x):
    return a,y,x

In [ ]:
my_all_param(2,12,13,14,15,name='Biniam',mname='Okbay',lname='Haile')

(2, (12, 13, 14, 15), {'name': 'Biniam', 'mname': 'Okbay', 'lname': 'Haile'})

In [ ]:
def my_all_param_change(a,**x,*y):
    return a,x,y

SyntaxError: ignored

In [ ]:
def my_all_param_change(a,*y,**x):
    return a,x,y

In [ ]:
my_all_param_change(12,'Abrham','Mike',12.4,[12,'BNM',1.5],(12,13),{'Hi','No'},name='H', mname='me',lname= 'S')

(12,
 {'name': 'H', 'mname': 'me', 'lname': 'S'},
 ('Abrham', 'Mike', 12.4, [12, 'BNM', 1.5], (12, 13), {'Hi', 'No'}))

```
Lambda

```

```

Lambda functions in Python are anonymous, small, and typically one-liner functions that can take any number of arguments but can only have one expression. They are defined using the lambda keyword. Here's a basic example:

# Regular function
def add(a, b):
    return a + b

# Equivalent lambda function
add_lambda = lambda a, b: a + b

# Using the lambda function
result = add_lambda(3, 5)
print(result)  # Output will be 8
Lambda functions are often used in situations where you need a small function for a short period and don't want to define a full-fledged function using def. They are commonly used with higher-order functions like map(), filter(), and reduce(), or in cases where you need to pass a function as an argument to another function.

For instance:

# Using lambda with map()
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # Output will be [1, 4, 9, 16, 25]
This lambda function squares each element in the numbers list when used with map().

Remember that while lambda functions can be useful for simple operations, it's often recommended to use regular functions for more complex logic to improve readability and maintainability.

```

In [ ]:
x = lambda a : a+12

print(x(123))

135

In [ ]:
z = lambda a,b : a*b

print(z(12,10))

120

In [ ]:
y = lambda a,b,c : a+b-c
print(y(34,-23,45))

-34

In [ ]:
g = lambda a , b, c, d: a+b-c*d
print(g(12,45,67,11))

-680

### Thursday December 14

In [ ]:
set1 = {2,4,'Bin','hi'}

In [ ]:
for mem in set1:
  print(mem)

hi
Bin
2
4

In [ ]:
for i in range(10):
  for j in range(10):
    print('*',end=' ')
  print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(5):
  for j in range(6):
    print(i+j, end='')

012345123456234567345678456789

In [ ]:
for i in range(10):
  for j in range(10,i,-1):
    print('',end=' ')
  for k in range(0, i+1,1):
    print('*', end= ' ')
  print()

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range(10):
  for k in range(0, i+1,1):
    print('', end= ' ')
  for j in range(10,i,-1):
    print('*',end=' ')
  print()

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [ ]:
a = 200

while a >40:
  print("Value of a: ", a)
  a-=25

Value of a:  200
Value of a:  175
Value of a:  150
Value of a:  125
Value of a:  100
Value of a:  75
Value of a:  50

In [ ]:
a = 130

while a > 75:
  print(f'Value of a={a}')
  b= 10
  while b< 35:
    print(f'Value of b={b}')
    b+=5
  a-=30

Value of a=130
Value of b=10
Value of b=15
Value of b=20
Value of b=25
Value of b=30
Value of a=100
Value of b=10
Value of b=15
Value of b=20
Value of b=25
Value of b=30

### Takeo Assignment-01

In [ ]:
# Define a function that accepts a variable number of arguments
def add_numbers(*args):
  result =0
  # print(args)
  for num in args:
    result+=num
  return result

In [ ]:
# Use the function with different numbers of arguments

print(add_numbers(1,2,3))

6

In [ ]:
print(add_numbers(5,10,15,20))

50

In [ ]:
print(add_numbers(2,4,6,8,10))

30

In [ ]:
# problem 1: write a python program using function and *args; it can perform all tasks of arthemetic operation in python (addition, subtraction, division, multiplication, floor division, modulus, exponential)

def all_operations(*a):
  resu_a = 0
  resu_s =0
  resu_m =a[0]
  resu_d =a[0]
  resu_fd=a[0]
  resu_mo=a[0]
  resu_exp= a[0]
  for num in a:
    resu_a+=num
    resu_s-=num
    resu_m*=num
    resu_d/=num
    resu_fd//=num
    resu_mo%=num
    resu_exp**=num

  return resu_a, resu_s, resu_m, resu_d, resu_fd, resu_mo, resu_exp

In [ ]:
print(all_operations(2,4,6,8,10))

(30, -30, 7680, 0.0005208333333333333, 0, 0, 9019518416950528558373478086511232658951474842525520401496114928154304263954966638953020103274038169821978036310387105187439981983038679543190552246151273693942430142430214083685203206060500793611640634047888641084801170845605063334103743639179436252101154643375533557849579891726251950146428978850105516362034204960607121369958942503226437204196452448471269253300696978879636095437453409277681885696982308658433120767281076066105051771156066244607221345945266065486445664418226651139092674586681359212098059833861221228710626721320869724746184863955622162546234638825771342548855451709230916475881564603234959416156932444801211659142200921408360597108039135985669806212057156206663539212378905677937882406546561037396635425165843343857133953586158290319569289376437788637610819165094090272546217161805776234786903154610120291328498719159205664801129636695538349715728280593823253491223728898318034697583114552626234434370877814140762055366083260852745620423716424511260012738181745813374647152733067517775871845874530787928515094116349419316639753203075339289947427722432809910728602878067223827332337510877965115796034585470544985654584014864170694475776)

In [ ]:
# example

def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}:{value}')

print_details(name='Alice', age=30, city= "New York")

name:Alice
age:30
city:New York

In [ ]:
print_details(product="Laptop",brand="Dell", price=1200)

product:Laptop
brand:Dell
price:1200

```
Write a Python Program using Function and **kwargs
```

In [ ]:
def total_price(**fish):
  tot=0
  for item , price in fish.items():
    tot+=price
  return tot


price_in_total = total_price(Onion= 1.25, Orange = 2.25 , Mango = 3.25, Popato = 1.05)

print(f'Total Calculated Price: ${price_in_total}')

Total Calculated Price: $7.8

In [ ]:
# Calculate the absolute valu of a number

num = -5

abs_num = abs(num)
print(f'The absolute valu of {num} is {abs_num}')

The absolute valu of -5 is 5

In [ ]:
# Check if all elements in the List are True

my_list = [True, True, False , True]

result = all(my_list)
print(f'All elements in the list are true: {result}')

All elements in the list are true: False

In [ ]:
# Check if any element in the list are True

my_list = [False, False , True, False]

result = any(my_list)
print(f'At least one element in the list is True: {result}')

At least one element in the list is True: True

In [ ]:
# Convert a number to binary

num = 10

binary_num = bin(num)
print(f'Binary representation of {num} is {binary_num}')

Binary representation of 10 is 0b1010

In [ ]:
# Convert a string in to an integer

str_num = '45'

int_num = int(str_num)
print(f'Integer representation of {str_num} is {int_num}')

Integer representation of 45 is 45

```
if condition1:
    # Execute if condition1 is true
    if condition2:
        # Execute if both condition1 and condition2 are true
    else:
        # Execute if condition1 is true but condition2 is false
else:
    # Execute if condition1 is false

# Example 1 : Number checker
num = 5

if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

```

In [ ]:
# syntax of nested if else

num =5

if num>0:
  print("The number is postive")
else:
  if num<0:
    print("The number is negative")
  else:
    print("The number is zero.")


 # Example 2: Age classifier

 age =35

if age >=60:
  print("You are a senior citizen")
else:
  if age >=18:
    print()

## Monday December 18, 2023

In [ ]:
numerator =3

denomerator = 0

divi = numerator/denomerator

ZeroDivisionError: ignored

In [ ]:
def divi(a,b):
  return a/b

In [ ]:
divi(5,0)

ZeroDivisionError: ignored

In [ ]:
def squart_fun(a):
  return a**0.5

In [ ]:
squart_fun(-2)

(8.659560562354934e-17+1.4142135623730951j)

In [ ]:
principal = float(input("insert principal"))
rate = float(input("Insert a rate"))

In [ ]:
tuple1 = ('a','b','c','d')

try:
  tuple1.append('f')
except Exception as ae:
  print("Universla exception ",ae)

print(tuple1)

Universla exception  'tuple' object has no attribute 'append'
('a', 'b', 'c', 'd')

In [ ]:
my_tupe =("Asmara", 'Dekemhare','Massawa', 'Keren', 'Mendefera', 'Barentu')

try:
  my_tupe[2] = 'Nakfa'
except Exception as nm:
  print('Universal exception ',nm)
print(my_tupe)

Universal exception  'tuple' object does not support item assignment
('Asmara', 'Dekemhare', 'Massawa', 'Keren', 'Mendefera', 'Barentu')

In [ ]:
def my_db(**nakfa):
   try:
    return nakfa
   except Exception as ok:
     print("Universal exception ", ok)

In [ ]:
my_db([1,2,3])

TypeError: ignored

### Tuesday December 19, 2023

In [ ]:
a= 10 # 'a' is an object ; this is instance of class 'int'
print(type(a))

<class 'int'>

In [ ]:
str1= 'Python programming'  # 'str1' is an object ; this is instance of class 'str'
print(type(str1))

<class 'str'>

In [ ]:
lst1= [1,2,3,4,5,6,7,8,9,10]

print(type(lst1))

<class 'list'>

In [ ]:
class Honda:
    pass

In [ ]:
obj1_Honda = Honda()

In [ ]:
print(type(obj1_Honda))

<class '__main__.Honda'>

In [ ]:
obj2_Honda = Honda()
obj3_Honda = Honda()
obj4_Honda = Honda()
obj5_Honda = Honda()
obj6_Honda = Honda()
obj7_Honda = Honda()
obj8_Honda = Honda()

In [ ]:
print(type(obj2_Honda))
print(type(obj3_Honda))
print(type(obj4_Honda))
print(type(obj5_Honda))
print(type(obj6_Honda))
print(type(obj7_Honda))
print(type(obj8_Honda))

<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>

In [ ]:
class Honda:
   model = 'model-1'
   year = '2018'
   color = 'Red'
   fuel_type = 'Gas'
   mileage = '161112'

In [ ]:

obj2_Honda = Honda()
obj3_Honda = Honda()
obj4_Honda = Honda()
obj5_Honda = Honda()
obj6_Honda = Honda()
obj7_Honda = Honda()
obj8_Honda = Honda()

In [ ]:
print(type(obj2_Honda))
print(type(obj3_Honda))
print(type(obj4_Honda))
print(type(obj5_Honda))
print(type(obj6_Honda))
print(type(obj7_Honda))
print(type(obj8_Honda))

<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>
<class '__main__.Honda'>

In [ ]:
obj2_Honda.model

'model-1'

In [ ]:
obj2_Honda.year

'2018'

In [ ]:
obj3_Honda.fuel_type

'Gas'

In [ ]:
obj4_Honda.color

'Red'

In [ ]:
obj5_Honda.mileage

'161112'

In [ ]:
class Car:
  def __init__(self,make,model,year,color):
    self.make= make
    self.model= model
    self.year= year
    self.color= color
    self.speed=0
  def accelerate(self,mph):
    self.speed+=mph

  def brake(self,mph):
    if mph<= self.speed:
      self.speed-=mph
    else:
      self.speed =0
  def honk(self):
    print(f'{self.make} {self.model} says "Honk-Honk!"')

  def get_speed(self):
    return self.speed

  def __str__(self):
    return f'{self.year} {self.make} {self.model} in {self.model}'

In [ ]:
my_car = Car("Toyota", "Camry", 2022, "Blue")
print(my_car)

my_car.accelerate(30)
print(f'Current speed: {my_car.get_speed()} mph')


my_car.brake(10)
print(f"Current speed: {my_car.get_speed()} mph")

my_car.honk()

2022 Toyota Camry in Camry
Current speed: 30 mph
Current speed: 20 mph
Toyota Camry says "Honk-Honk!"

##**Wednesday December 20, 2023**

In [ ]:
class student:
    def __init__(self, stu_name , stu_lname, stu_age, stu_gender, stu_mobile, stu_email):
        self.student_fname= stu_name
        self.student_lname= stu_lname
        slef.student_age = stu_age
        self.student_mobile= stu_mobile
        self.student_email= stu_email

In [ ]:
class student:

    def __init__(self, stu_name , stu_lname, stu_age, stu_gender, stu_mobile, stu_email):
        self.student_fname= stu_name
        self.student_lname= stu_lname
        self.student_age = stu_age
        self.student_mobile= stu_mobile
        self.student_email= stu_email
    def display_values(self):
        print(self.student_fname, self.student_lname,self.student_age, self.student_mobile, self.student_email)

In [ ]:
obj1_stu1 = student("Fish", "Berhane",45,'M',6788489494, 'gags.gfhgh@gmail.com')

In [ ]:
obj1_stu1.display_values()

Fish Berhane 45 6788489494 gags.gfhgh@gmail.com

In [ ]:
class Car:
  def __init__(self,make,model,year,color):
    self.make= make
    self.model= model
    self.year= year
    self.color= color
  def display_values(self):
    print(self.make, self.model, self.year, self.color)

In [ ]:
obj1_car = Car('Honda', 'Civic', 2018, 'white')

In [ ]:
obj1_car.display_values()

Honda Civic 2018 white

In [ ]:
class Car:
  def __init__(self,make,model,year,color):
    self.make= make
    self.model= model
    self.year= year
    self.color= color
  def display_values(self):
    print(f'{self.make} " " {self.model} " " {self.year}" "{self.color}')

In [ ]:
obj1_car = Car('Honda', 'Civic', 2018, 'white')

In [ ]:
obj1_car.display_values()

Honda " " Civic " " 2018" "white

##**Inheritance**

In [ ]:
class Samsung_Note_7:
    pass
class Samsung_Note_8(Samsung_Note_7):
    pass
class Samsung_Note_9(Samsung_Note_8):
    pass
class Samsung_Note_10(Samsung_Note_9):
    pass
class Samsung_Note_20(Samsung_Note_10):
    pass

##**Thursday December 21 , 2023**

In [ ]:
class Parent:
  def __init__(self, name, lname, gender, age, location):

In [ ]:
class Computer:
  def __init__(self, cpu, ram, hard_disk, screen_size, screen_resolution):
    self.cpu = cpu
    self.ram =ram
    self.hard_disk= hard_disk
    self.screen_size = screen_size
    self.screen_resolution = screen_resolution

  def display(self):
    print(f'This Pc has cpu: {self.cpu} , ram : {self.ram} , hard disk: {self.hard_disk} , screen size: {self.screen_size} , screen resolution: {self.screen_resolution} ')

class Laptop(Computer):
  pass

In [ ]:
obj1_laptop = Laptop('intel', '6Gb', '1Tb', '15-inch', '4k')

In [ ]:
obj1_laptop.display()

This Pc has cpu: intel , ram : 6Gb , hard disk: 1Tb , screen size: 15-inch , screen resolution: 4k

In [ ]:
class Computer:
  def __init__(self, cpu, ram):
    self.cpu = cpu
    self.ram =ram
  def display(self):
    print(f'This Pc has cpu: {self.cpu} , ram : {self.ram} ')

In [ ]:
class Laptop(Computer):
  def __init__(self, cpu, ram , name):
    self.name = name
    super().__init__(cpu, ram)
  def Lname(slef):
    print(f'This Laptop is {self.name}')

In [ ]:
obj1_laptop = Laptop('intel', '6Gb')

obj1_laptop.display()

This Pc has cpu: intel , ram : 6Gb

In [ ]:
obj1_laptop = Laptop('intel', '6Gb' , 'Lenovo')

In [ ]:
obj1_laptop.Lname()

NameError: ignored

#**Friday December 22 2023**

In [ ]:
class car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('Drive!!')

class boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
  def move(self):
    print('Sale!!')

class plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model
  def move(self):
    print('Fly!!')

In [ ]:
obj_car1 = car('Honda', '2022')
obj_boar1 = boat('Yamaha', '2023')
obj_plane1 = plane('Suzi', '2021')

In [ ]:
for i in (obj_car1, obj_boar1, obj_plane1):
  i.move()

Drive!!
Sale!!
Fly!!

In [ ]:
class Hp:
  def __init__(self, ram, cpu):
    self.ram = ram
    self.cpu = cpu

  def brand(self):
    print('HP')
  def model(self):
    print('pavilon')
class Lenovo:
  def __init__(self, ram, cpu):
    self.ram = ram
    self.cpu = cpu
  def brand(self):
    print('Lenovo')
  def model(self):
    print('yoga')

class Dell:
  def __init__(self, ram, cpu):
    self.ram = ram
    self.cpu = cpu
  def brand(self):
    print('Dell')
  def model(self):
    print('inspiron')

In [ ]:
obj_hp1= Hp('6Gb', 'i5')
obj_lenovo1 = Lenovo('8Gb', 'i7')
obj_dell1 = Dell('4Gb', 'i3')

In [ ]:
for i in (obj_hp1 , obj_lenovo1, obj_dell1):
  i.brand()
  i.model()

HP
pavilon
Lenovo
yoga
Dell
inspiron

#**Tuesday December 26 , 2023**

### Encapsulation

In [1]:
class Car:
    #class varibale
    total_cars = 0

    def __init__(self, make, model):
        # Instance variable
        self.make = make
        self.model = model
        # Increment the class variable when a new instance is created
        Car.total_cars+=1

    def display_info(self):
        print(f'Make: {self.make}, Model: {self.model}')
# Creating instance of the Car class

car1 = Car('Toyota', 'Camry')

car2 = Car('Honda', 'Accord')

# Displaying information about the cars

print('Car 1:')
car1.display_info()
print('Car 2:')
car2.display_info()

# Displaying the total number of cars
print(f"Total Cars: {Car.total_cars}")

Car 1:
Make: Toyota, Model: Camry
Car 2:
Make: Honda, Model: Accord
Total Cars: 2

#**Wednesday December 27 , 2023**

In [3]:
# operator Overloading

class Vector:
    def __init__(self,x,y):
        self.x= x
        self.y = y
    def __add__(self,other):
        return Vector(self.x +other.x, self.y+other.y)

In [4]:
# Polymorphism Function

def sound(animal):
    return animal.make_sound()

class Dog:
    def make_sound(self):
        return "woof!"
class Cat:
    def make_sound(slef):
        return "Mew!"

dog = Dog()
cat = Cat()

print(sound(dog))  # outputs: Woof!
print(sound(cat))  # outputs: Meow!

woof!
Mew!

In [5]:
# polymorphism method

class Shape:
    def draw(slef):
        pass
class Circle(Shape):
    def draw(self):
        return "Drawing a Circle"

class Rectangle(Shape):
    def draw(self):
        return " Draw a rectangle"

shapes = [Circle(), Rectangle()]

for shape in shapes:
    print(shape.draw())

Drawing a Circle
 Draw a rectangle

In [6]:
# Polymorphic inheritance

class Animal:
    def Speak(self):
        pass
class Dog(Animal):
    def speak(self):
        return "Woof!"
class Cat(Animal):
    def speak(self):
        return "Meow!"
pets = [Dog(), Cat()]

for pet in pets:
    print(pet.speak())

Woof!
Meow!

In [7]:
# Function of Polymorphism with default Arguments

def area(length,width= None):
    if width is None:
        return length * length
    else:
        return length * width

In [8]:
# Polymorphism Function with variable arguments

def display(*args):
    for arg in args:
        print(arg)
display(1, "Hello", [1,3,4,5])

1
Hello
[1, 3, 4, 5]

In [9]:
# Basic Encapsulation


class Person:
    def __init__(self, name, age):
        self._name = name  # protected attribute
        self._age = age    # protected attribute

    def display_info(self):
        print(f"Name: {self._name}, Age: {self._age}")

person = Person("John", 25)
person.display_info()  # Accessing attributes through a method

Name: John, Age: 25

In [10]:
# Private Attributes

class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # private attribute

    def get_balance(self):
        return self.__balance

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient funds")

account = BankAccount(1000)
print(account.get_balance())  # Accessing private attribute through a method

1000

In [11]:
account.deposit(500)
account.withdraw(200)
print(account.get_balance())

1300

In [12]:
class my_exception1(Exception):
    def __init__(self, value):
        self.value= value
    def __str__(self):
        return (self.value)

In [14]:
try:
    raise my_exception1(13*5)
except my_exception1 as fi:
    print(f'my exception user defined exception occured {fi.value}')

my exception user defined exception occured 65

```
1. import Libraries
2. import Dataset
3. Read Dataset
4.




```

#**Thursday December 28-2023**

**python user Defined Exception**

In [16]:
class Pass_exam(Exception):
    "Raise when the input value is less than 50"
    pass
score = 50

try:
    input_score = int(input('Enter your exam score:'))
    if input_score < score:
        raise Pass_exam
    else:
        print('You pass the exam')
except Pass_exam:
    print('The score is below the required and try the exam again')
except Exception:
    print('Uknown Exception, Handle by Universal Exception')

Enter your exam score:40
The score is below the required and try the exam again

In [17]:
class Sum_is_Prime(Exception):
    "Raise when the value is incorrect"
    pass

def is_prime(number):
    if number<=1:
        return False
    if number <=3:
        return True
    if number%2 ==0 or number%3 ==0:
        return False
    i =5
    while i*i <= number:
        if number % i ==0 or number % (i+2) ==0:
            return False
        i+=6
    return True
try:
    a= int(input('Enter a number "a": '))
    b= int(input('Enter a number "b": '))
    c= int(input('Enter a number "c": '))
    if is_prime((a+b+c)):
        print(f'the sume is {a+b+c} prime')
    else:
        raise Sum_is_Prime
except Sum_is_Prime:
    print('Incorrect sum - Sum_is_prime')

Enter a number "a": 34
Enter a number "b": 35
Enter a number "c": 3
Incorrect sum - Sum_is_prime

##Python Pandas Library

In [23]:
import pandas as pd
import io

In [20]:
from google.colab import files
uploaded = files.upload()

Saving 50_Startups.csv to 50_Startups.csv

In [21]:
filename = next(iter(uploaded))

In [32]:
df = pd.read_csv(filename)

In [34]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [26]:
# df = pd.read_csv(io.BytesIO(uploaded[filename]))

In [36]:
# .dtypes shows us what datatype each column conatins

df.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [37]:
# .describe() gives you a quick statistical overview of the numerical columns
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000


.info() shows a handful of useful information about a DataFrame such as:

How many entries (rows) there are
Whether there are missing values (if a columns non-null value is less than the number of entries, it has missing values)
The datatypes of each column

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [39]:
# convert df to excel

df.to_excel('50_Startups_xlsx.xlsx')

In [40]:
# convert df to html

df.to_html('50_startups.html')

In [41]:
# convert to jason

df.to_json('50_startups.json')

In [43]:
df_excel= pd.read_excel('/content/50_Startups_xlsx.xlsx')

In [45]:
df_excel.head()

,Unnamed: 0,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,165349.20,136897.80,471784.10,New York,192261.83
1,1,162597.70,151377.59,443898.53,California,191792.06
2,2,153441.51,101145.55,407934.54,Florida,191050.39
3,3,144372.41,118671.85,383199.62,New York,182901.99
4,4,142107.34,91391.77,366168.42,Florida,166187.94

In [46]:
df_html= pd.read_html('/content/50_startups.html')

In [50]:
df_html

[    Unnamed: 0  R&D Spend  Administration  Marketing Spend       State  \
 0            0  165349.20       136897.80        471784.10    New York
 1            1  162597.70       151377.59        443898.53  California
 2            2  153441.51       101145.55        407934.54     Florida
 3            3  144372.41       118671.85        383199.62    New York
 4            4  142107.34        91391.77        366168.42     Florida
 5            5  131876.90        99814.71        362861.36    New York
 6            6  134615.46       147198.87        127716.82  California
 7            7  130298.13       145530.06        323876.68     Florida
 8            8  120542.52       148718.95        311613.29    New York
 9            9  123334.88       108679.17        304981.62  California
 10          10  101913.08       110594.11        229160.95     Florida
 11          11  100671.96        91790.61        249744.55  California
 12          12   93863.75       127320.38        249839.44     Florida
 13          13   91992.39       135495.07        252664.93  California
 14          14  119943.24       156547.42        256512.92     Florida
 15          15  114523.61       122616.84        261776.23    New York
 16          16   78013.11       121597.55        264346.06  California
 17          17   94657.16       145077.58        282574.31    New York
 18          18   91749.16       114175.79        294919.57     Florida
 19          19   86419.70       153514.11             0.00    New York
 20          20   76253.86       113867.30        298664.47  California
 21          21   78389.47       153773.43        299737.29    New York
 22          22   73994.56       122782.75        303319.26     Florida
 23          23   67532.53       105751.03        304768.73     Florida
 24          24   77044.01        99281.34        140574.81    New York
 25          25   64664.71       139553.16        137962.62  California
 26          26   75328.87       144135.98        134050.07     Florida
 27          27   72107.60       127864.55        353183.81    New York
 28          28   66051.52       182645.56        118148.20     Florida
 29          29   65605.48       153032.06        107138.38    New York
 30          30   61994.48       115641.28         91131.24     Florida
 31          31   61136.38       152701.92         88218.23    New York
 32          32   63408.86       129219.61         46085.25  California
 33          33   55493.95       103057.49        214634.81     Florida
 34          34   46426.07       157693.92        210797.67  California
 35          35   46014.02        85047.44        205517.64    New York
 36          36   28663.76       127056.21        201126.82     Florida
 37          37   44069.95        51283.14        197029.42  California
 38          38   20229.59        65947.93        185265.10    New York
 39          39   38558.51        82982.09        174999.30  California
 40          40   28754.33       118546.05        172795.67  California
 41          41   27892.92        84710.77        164470.71     Florida
 42          42   23640.93        96189.63        148001.11  California
 43          43   15505.73       127382.30         35534.17    New York
 44          44   22177.74       154806.14         28334.72  California
 45          45    1000.23       124153.04          1903.93    New York
 46          46    1315.46       115816.21        297114.46     Florida
 47          47       0.00       135426.92             0.00  California
 48          48     542.05        51743.15             0.00    New York
 49          49       0.00       116983.80         45173.06  California

        Profit
 0   192261.83
 1   191792.06
 2   191050.39
 3   182901.99
 4   166187.94
 5   156991.12
 6   156122.51
 7   155752.60
 8   152211.77
 9   149759.96
 10  146121.95
 11  144259.40
 12  141585.52
 13  134307.35
 14  132602.65
 15  129917.04
 16  126992.93
 17  125370.37
 18  124266.90
 19  122776.86
 20  118474.03
 21  111313.02
 22  110352.25
 23  108733.99
 24  108552.04
 25  107404.34
 26  105733.54
 27  105008.31
 28  103282.38
 29  101004.64
 30   99937.59
 31   97483.56
 32   97427.84
 33   96778.92
 34   96712.80
 35   96479.51
 36   90708.19
 37   89949.14
 38   81229.06
 39   81005.76
 40   78239.91
 41   77798.83
 42   71498.49
 43   69758.98
 44   65200.33
 45   64926.08
 46   49490.75
 47   42559.73
 48   35673.41
 49   14681.40  ]

In [51]:
df_json= pd.read_json('/content/50_startups.json')

In [126]:
df_json.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

#**Friday December 29, 2023**

**python Pandas**

1. Series
2. DataFrame

**pandas has two main datatypes, Series and DataFrame.**

- pandas.Series - a 1-dimensional column of data.
- pandas.DataFrame (most common) - a 2-dimesional table of data with rows and columns.
- You can create a Series using pd.Series() and passing it a Python list.

In [53]:
import pandas as pd

In [54]:
lst1= [11,22,23,34,45,56,67,78,89]
S1= pd.Series(lst1)
S1

0    11
1    22
2    23
3    34
4    45
5    56
6    67
7    78
8    89
dtype: int64

In [55]:
tup1= ('a','b','c','d','e')
S2 = pd.Series(tup1)
S2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [56]:
str1= 'Python Progrmming'
S3 = pd.Series(str1)
S3

0    Python Progrmming
dtype: object

In [57]:
set1= {1,d,4,[1,2,3],'Where','any'}

S4 = pd.Series(set1)

S4

NameError: ignored

In [58]:
dict1= {'a': 1, 'b': 'Bnana', 'c': 'Injera'}
S5 = pd.Series(dict1)
S5

a         1
b     Bnana
c    Injera
dtype: object

In [67]:
S5.dtypes

dtype('O')

In [59]:
S5.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, a to c
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [60]:
S5.describe

<bound method NDFrame.describe of a         1
b     Bnana
c    Injera
dtype: object>

In [61]:
S5.ndim

1

In [64]:
S6 = pd.Series([1,2,4,5,6])
S6

0    1
1    2
2    4
3    5
4    6
dtype: int64

In [65]:
S6.dtypes

dtype('int64')

In [68]:
S6.dtype

dtype('int64')

In [70]:
S6.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 168.0 bytes

In [71]:
S6.describe

<bound method NDFrame.describe of 0    1
1    2
2    4
3    5
4    6
dtype: int64>

In [72]:
S6.ndim

1

**Numpy**

In [73]:
import  numpy as np

In [75]:
ar1 = np.array(lst1)
ar1

array([11, 22, 23, 34, 45, 56, 67, 78, 89])

In [77]:
S7 = pd.Series(ar1)
S7

0    11
1    22
2    23
3    34
4    45
5    56
6    67
7    78
8    89
dtype: int64

In [78]:
import pandas as pd
import numpy as np

In [79]:
lst1 = [0,1,2,3,4,5,6,7,8,9]
df1 = pd.DataFrame(lst1)
df1

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [80]:
df1.size

10

In [81]:
df1.shape

(10, 1)

In [82]:
df1.ndim

2

In [86]:
tup1 = ('a','b','c','d','e','f','g','h','i','j')

In [87]:
df1[1]= tup1

In [88]:
df1

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
5  5  f
6  6  g
7  7  h
8  8  i
9  9  j

In [89]:
S8 = pd.Series([10,20,30,40,50,60,70,80,90,100])

In [90]:
df1[2] = S8

In [91]:
df1

   0  1    2
0  0  a   10
1  1  b   20
2  2  c   30
3  3  d   40
4  4  e   50
5  5  f   60
6  6  g   70
7  7  h   80
8  8  i   90
9  9  j  100

In [92]:
ar2 = np.array([11,22,33,44,55,66,77,88,99,111])

In [93]:
df1[3]= ar2

In [94]:
df1

   0  1    2    3
0  0  a   10   11
1  1  b   20   22
2  2  c   30   33
3  3  d   40   44
4  4  e   50   55
5  5  f   60   66
6  6  g   70   77
7  7  h   80   88
8  8  i   90   99
9  9  j  100  111

In [103]:
# creating the dictionary

dic4 = {'a': 'Californai', 'b': 'Oregon', 'c': 'Washington', 'd': 'Texas', 'e': 'Georgia' , 'f': 'Florid'}

In [104]:
dic4

{'a': 'Californai',
 'b': 'Oregon',
 'c': 'Washington',
 'd': 'Texas',
 'e': 'Georgia',
 'f': 'Florid'}

In [114]:
df4 = pd.DataFrame(dic4 , index= [0] )

In [115]:
df4

            a       b           c      d        e       f
0  Californai  Oregon  Washington  Texas  Georgia  Florid

In [116]:
dict1 = {'CA':['Oakland','Santa-Rosa','Sacramento'],
            'Oregon':['Portland','Salem','Eugeon'],
            'Texas':['Dalas','Huston','Alta'],
            'Washington':['Seattle','Olympia','Lynwood'],
            'Florida':['Talahassie', 'Miami', 'Wiong']}
df_dict = pd.DataFrame(dict1)
df_dict

           CA    Oregon   Texas Washington     Florida
0     Oakland  Portland   Dalas    Seattle  Talahassie
1  Santa-Rosa     Salem  Huston    Olympia       Miami
2  Sacramento    Eugeon    Alta    Lynwood       Wiong

In [117]:
df_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CA          3 non-null      object
 1   Oregon      3 non-null      object
 2   Texas       3 non-null      object
 3   Washington  3 non-null      object
 4   Florida     3 non-null      object
dtypes: object(5)
memory usage: 248.0+ bytes

In [118]:
df_dict.ndim

2

In [119]:
df_dict.size

15

In [122]:
df_dict.shape

(3, 5)

In [124]:
df_dict.describe

<bound method NDFrame.describe of            CA    Oregon   Texas Washington     Florida
0     Oakland  Portland   Dalas    Seattle  Talahassie
1  Santa-Rosa     Salem  Huston    Olympia       Miami
2  Sacramento    Eugeon    Alta    Lynwood       Wiong>

In [125]:
df_dict.ndim

2